.fondo {
    min-height: 100vh;
    /*background: #56A3A6;*/
    background: #7d3838;
}



.cabezera {
    /*background: #C2E7D9;*/
    background: #a9dadd;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.notificacion {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.logo {
    width: 15%;
    position: absolute;
    top: -40px;
    right: 40px;
}

.footer-abajo {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #181818;
  /*background-color: #7D387D;*/
  color: white;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
}

.vertical-nav {
    background: #CE8247;
    color: white;
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
  }

  .vertical-nav a {
      text-decoration: none;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }

  #sidebar.false {
    margin-left: -17rem;
  }
  
  #content.false {
    width: 100%;
    margin: 0;
  }
  